[submodule "martinize2"]
	path = martinize2
	url = https://github.com/marrink-lab/vermouth-martinize.git
[submodule "external/openfold"]
	path = external/openfold
	url = https://github.com/aqlaboratory/openfold.git
[submodule "external/fastfold"]
	path = external/fastfold
	url = https://github.com/hpcaitech/FastFold.git
